{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row tm-row tm-mb-45">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <img src="{% static 'img/about-01.jpg' %}" alt="Image" class="img-fluid">
    </div>
</div>

<div class="row tm-row tm-mb-40">
    <div class="col-12">                    
        <div class="mb-4">
            <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">About Hossein Akbarpour</h2>
            <p>
                Hossein Akbarpour is a talented backend developer based in Iran, with a strong focus on using Django and Python to create powerful and innovative web applications. With an impressive skill set in these technologies, Hossein has a deep understanding of how to develop complex systems that are both efficient and user-friendly. He has a proven track record of delivering high-quality projects on time and within budget, and is highly skilled in the areas of database design, API development, and server-side scripting. Hossein is an excellent team player who is always willing to share his knowledge and expertise with others, and is committed to staying up-to-date with the latest trends and best practices in the rapidly-evolving world of web development.
            </p>
                         
        </div>                    
    </div>
</div>

{% endblock content %}