{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="row tm-row tm-mb-45">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <img src="{{post.image.url}}" alt="Image" class="img-fluid">
    </div>
</div>
{% if user.is_authenticated %}
<a href="{% url 'posts:post_edit' slug=post.slug %}"><button type="button" class="btn btn-primary">Edit</button> </a>
{% endif %}
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">                    
            <div class="mb-4">
                <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                <p class="tm-mb-40">June 16, 2020 posted by {{post.author}}</p>
                <p>
                    {{post.content}}
                     </p>
                     
                <span class="d-block text-right tm-color-primary">{% for tag in tags %}{{tag.name}}, {% empty %}</span>
                
                <span class="d-block text-right tm-color-primary">No Tag</span>
                {% endfor %}
            </div>
                   <!-- Comments -->
            
            {% include "posts/comment.html" %}
         
                   <!-- Sidebar -->

            {% include "posts/sidebar.html" %}
        </div>

            



{% endblock content %}