{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row tm-row">
    {% for post  in posts %}
    
    
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{% url 'posts:post_detail' pk=post.id %}" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="{{post.image.url}}" alt="Image" class="img-fluid">                            
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{post.title}}</h2>
        </a>                    
        <p class="tm-pt-30">
            {{post.content|truncatechars:15}}
        </p>
        {% comment %} <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">Travel . Events</span>
            <span class="tm-color-primary">June 24, 2020</span>
        </div> {% endcomment %}
        <hr>
        <div class="d-flex justify-content-between">
            {% comment %} <span>36 comments</span> {% endcomment %}
            <span>by {{post.author}}</span>
        </div>
    </article>
    {% endfor %}

</div>

{% include "posts/pagination_posts.html" %}


 
{% endblock content %}