




<aside class="col-lg-4 tm-aside-col">
    <div class="tm-post-sidebar">
        <hr class="mb-3 tm-hr-primary">
        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
        <ul class="tm-mb-75 pl-5 tm-category-list">
            <li><a href="#" class="tm-color-primary">Visual Designs</a></li>
            <li><a href="#" class="tm-color-primary">Travel Events</a></li>
            <li><a href="#" class="tm-color-primary">Web Development</a></li>
            <li><a href="#" class="tm-color-primary">Video and Audio</a></li>
            <li><a href="#" class="tm-color-primary">Etiam auctor ac arcu</a></li>
            <li><a href="#" class="tm-color-primary">Sed im justo diam</a></li>
        </ul>
        <hr class="mb-3 tm-hr-primary">
        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Similar Posts</h2>

        {% for post in similar_posts %}
        <a href="{% url 'posts:post_detail' slug=post.slug %}" class="d-block tm-mb-40">
            <figure>
                <img src="{{post.image.url}}" alt="Image" class="mb-3 img-fluid">
                <figcaption class="tm-color-primary">{{ post.content|truncatewords:10 }}</figcaption>
            </figure>
        </a>
        {% empty %}
        <figcaption class="tm-color-primary">No Post</figcaption>
        {% endfor %}

    </div>                    
</aside>